<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a27ebf63-0dc6-479e-a50d-1117323978b7/resourceGroups/saladeaula/providers/Microsoft.Web/sites/saladeaula</ResourceId>
    <ResourceGroup>saladeaula</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://saladeaula.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>saladeaula.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>saladeaula</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$saladeaula</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SalaDeAulaEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=ec2-54-233-229-52.sa-east-1.compute.amazonaws.com;Initial Catalog=sala_de_aula;Persist Security Info=True;User ID=root;Password=r00t" Name="server=ec2-54-233-229-52.sa-east-1.compute.amazonaws.com;user id=root;password=r00t;persistsecurityinfo=True;database=sala_de_aula" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SalaDeAula.Models.SalaDeAulaEntities, SalaDeAula" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="SalaDeAulaEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Modelo.csdl|res://*/Models.Modelo.ssdl|res://*/Models.Modelo.msl;provider=MySql.Data.MySqlClient;provider connection string="server=ec2-54-233-229-52.sa-east-1.compute.amazonaws.com;user id=root;password=r00t;persistsecurityinfo=True;database=sala_de_aula"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>