page-home {


    button {
        width: 250px;
    }

    .botao{
        margin-top: 30px;
        margin-bottom: 10px;
    }
	
	
       .botao-enviar{
        margin-top: 10px;
        margin-bottom: 40px;
       }

       .mensagem{
           min-height: 100px;
       }

       .feed-mensagem{
           background-color: rgba(255, 255, 255, 0.761);
           box-shadow: 1px 1px 3px #888888;
           padding: 5px;
           margin: 5px;
       }

       h6{
        margin: 5px;
       }

       b{ font-size: 14px; }

       i{ font-size: 12px; }

       .corpo-mensagem{
           padding-left: 5px;
           font-size: 13px;
       }

}
